body {
  height: 100%;
  background: #e2e1dd;
}

.header {
  width: 100%;
  background: #f85162;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header ul {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.header ul li {
  float: left;
  font-size: 36px;
  color: #fff;
  line-height: 80px;
  padding: 0 10px;
}

.header ul li.x10 {
  border-right: 2px solid #fff;
}

.main {
  margin: 80px 0;
  background: #e2e1dd;
}

.main_cont {
  width: 1200px;
  background: #fff;
  margin: 0 auto;
  padding: 125px 0 100px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main h1 {
  font-size: 36px;
  color: #f85162;
  line-height: 80px;
  text-align: center;
  font-weight: normal;
}

.main_login {
  width: 340px;
  position: relative;
  margin: 0 auto;
}

.main_login_cont > input {
  border: 1px solid #cdcdcd;
  height: 46px;
  line-height: 44px;
  color: #333;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  margin: 16px 0;
  width: 100%;
}

.main_login_cont .x20 {
  width: 180px;
}

.login_yzm {
  height: 44px;
  width: 90px;
  line-height: 44px;
  background: #f85162;
  padding: 0 10px;
  border: none;
  font-size: 14px;
  color: #fff;
}

.login_protocol input {
  width: 18px;
  height: 18px;
  margin: 0 12px;
}

.login_protocol {
  font-size: 18px;
  color: #333;
}

.login_protocol a {
  color: #f85162;
  text-decoration: none;
}

.forgetPassword {
  margin: 0 auto;
  background: #f85162;
  color: #fff;
  line-height: 66px;
  border: none;
  font-size: 24px;
  width: 230px;
  border-bottom: 1px solid #0074a9;
}

.forgetPassword:hover {
  opacity: 0.9;
}

.forgetPassword:active {
  border-bottom: 1px solid #fff;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.x30 {
  text-align: center;
  margin-top: 45px;
}

.x40 {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.x40 > a {
  color: #333;
}

.main_login_left {
  width: 100px;
  position: absolute;
  top: 0;
  left: -140px;
}

.main_login_left p {
  text-align: right;
  line-height: 46px;
  color: #333;
  font-size: 18px;
  margin: 16px 0 32px 0;
}

.main_login_right {
  width: 300px;
  position: absolute;
  top: 0;
  right: -310px;
}

.main_login_right p {
  display: inline-block;
  height: 44px;
  width: 100%;
  text-align: left;
  line-height: 44px;
  color: #f85162;
  font-size: 14px;
  margin: 16px 0;
}
