
/*-----nav---*/
.box{
  position:relative;
  width: 1400px;
  margin:0 auto;
  height: 100%;
}
.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 244px;
    background: #f0f3f7;
    height: 100%;
    border-right: 1px solid #e8e8e9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }

.nav_top {
  background: url(../../images/h_Certification/h_nav_bg.png) no-repeat;
  width: 251px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin-left: 3px;
}

.nav_cont {
  padding: 16px 0 0 26px;
}

.nav_cont li {
  padding: 1px 0;
  border-bottom: 1px solid #e9e9ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nav_cont li i {
  display: inline-block;
  width: 6px;
  height: 43px;
  background: #f85162;
}

.nav_cont_a {
  height: 36px;
  background: #f4acb6;
  width: 211px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
}

.nav_cont_on {
  background: #f85162;
}

.nav_cont_a a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
}

.nav_cont_a a:hover {
  text-decoration: none;
}

.nav_cont_off:hover {
  background: #f85162;
}

/*-----头部----*/
.header {
  background: #f85162;
  height: 58px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header > div {
  padding: 0 35px;
  height: 16px;
  line-height: 16px;
  color: #fff;
  font-size: 12px;
  border-left: 1px solid #fff;
}

.Return_index a,.sign_out p{
  color: #fff;
}
.header_name a{
  color: #fff;
}
.sign_out p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.Return_index{
  border: none !important;
}
/*content*/
.content{
  margin-left:270px;
  margin-top:30px;
  width: 1100px;
  font-size: 16px;
 /* border:solid;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.hotel_title{
  width: 1100px;
  height: 39px;
  line-height: 39px;
  border:1px solid #333;
  display: flex;
  justify-content: space-between;
}
.hotel_title div{
  width: 366px;
  text-align: center;
}
.hotel_detail_items{
  margin:0 auto;
  min-height: 200px;
  margin-top: 20px;
}
.hotel_detail_item{
  min-height: 50px;
  border-bottom: 1px solid #d2d2d2;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
/*.hotel_detail_item div:first-child{
  padding-left: 70px;
  margin-right: 110px;
}*/
/*.hotel_detail_item div:nth-child(2){
   margin-right: 130px;
}*/
.hotel_detail_item div{
  width: 340px;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}
.hotel_detail_item:hover .buttons{
  opacity: 1;
  transition:.15s ;
  height:30px;
}
.hotel_detail_item .buttons{
  width: 1020px;
  display: flex;
  justify-content: flex-end;
  padding-right: 58px;
  box-sizing: border-box;
  opacity: 0;
  height: 0px;
}
.hotel_detail_item div.buttons .showbutton{
  width: 50px;
  height: 20px !important;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid #333;
  color: #333;
  background: #fff;
  margin-right: 40px;
  cursor: pointer;
}
.hotel_detail_item div.buttons .showbutton:hover{
  border: 1px solid #f85162;
  color:#f85162;
}
/*分页*/
.fl {
  float: left;
}
.main_Pagination {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main_Pagination button {
  padding: 0 10px;
  margin: 0 10px;
  height: 40px;
  float: left;
  cursor: pointer;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}
.main_Pagination .first-page,
.main_Pagination .last-page {
  margin: 0;
}
.main_Pagination .pageWrap {
  height: 40px;
  float: left;
  overflow: hidden;
}
.main_Pagination .pageWrap ul {
  width: 100000px;
  height: 40px;
  float: left;
}
.main_Pagination .pageWrap ul li {
  width: 60px;
  height: 40px;
  border: 1px solid #ebebeb;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  background: #fff;
}
.main_Pagination .pageWrap ul .sel-page {
  background-color: #f85162;
  color: #fff;
}
.main_Pagination .jump-text {
  width: 60px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin: 0 5px;
  float: left;
}
.main_Pagination .jump-button {
  margin: 0;
  float: left;
}
.main_Pagination .total-pages,
.main_Pagination .total-count {
  margin-left: 10px;
  float: left;
  font-size: 14px;
}
/*添加酒店信息*/