/*------标题-------*/
.title {
  width: 760px;
  margin: 0 auto;
}

.title_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 40px 0;
}

.title_left {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title_right {
  width: 100%;
  height: 18px;
  border-bottom: 1px solid #f1959f;
}

.title_left > i {
  width: 3px;
  height: 18px;
  background: #eb5162;
}

.title_left > p {
  padding: 0 5px;
  font-size: 16px;
}

.title_left span {
  font-size: 12px;
}

/*----内容----*/

.main {
  width: 600px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex;
  -ms-flex-pack: flex;
  justify-content: flex;
}

.main_left {
  width: 110px;
}

.main_left p {
  display: inline-block;
  text-align: center;
  height: 53px;
  margin-bottom: 36px;
  line-height: 53px;
  color: #6a717c;
  font-size: 16px;
}

.main_cont {
  width: 100%;
  padding-bottom: 200px;
}

.main_cont_h1 {
  font-size: 48px;
  text-align: center;
  color: #6a717c;
  line-height: 2em;
}

.main_cont form > div {
  margin-bottom: 36px;
  height: 53px;
}

.input_shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex;
  -ms-flex-pack: flex;
  justify-content: flex;
  -webkit-box-shadow: 0 0 5px #eee;
  box-shadow: 0 0 5px #eee;
}

.main_bian {
  display: inline-block;
  width: 9px;
  height: 53px;
  background: #f85162;
}

.main_cont input {
  width: 100%;
  height: 53px;
  border: 1px solid #ededee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: none;
  font-size: 16px;
  color: #6a717c;
  padding: 0 14px;
}

.cp_name {
  display: inline-block;
  width: 100%;
  height: 53px;
  line-height: 53px;
  border: 1px solid #ededee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: none;
  font-size: 16px;
  color: #6a717c;
  padding: 0 14px;
}

.input_Drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input_Drop select {
  width: 120px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
}

.main_cont input[type="file"] {
  border: none;
}

.main_file {
  border: 1px solid #ededee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

/*按钮*/
.Upload {
  width: 325px;
  height: 56px;
  background: #f85162;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 26px;
  margin: 0 auto;
  cursor: pointer;
}

/*地图*/
#allmap {
  height: 240px;
  border: 1px solid #d9d9da;
}

/*上传图片*/

.main_cont input[type="file"] {
  border: none;
}

.main_file {
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

/*--图片上传--*/
.input_SCTP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 150px !important;
}

.input_SCTP input {
  padding: 0;
  width: 100%;
  height: 200px;
  cursor: pointer;
  position: absolute;
  top: -50px; left: 0;
}

.input_SCTP div {
  margin: 0;
}

.input_SCTP > .main_file {
  position: relative;
  margin-right: 10px;
  width: 150px;
  height: 150px;
  background: url(../../images/h_Certification/h_file.png) no-repeat center center;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.show > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/*自定义上传,位置大小都和a完全一样,而且完全透明*/
.myFileUpload {
  position: absolute;
  display: block;
  opacity: 0;
  cursor: pointer;
}
/*显示上传文件夹名的Div*/
.show {
  width: 100%;
  height: 100%;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Upload {
  width: 325px;
  height: 56px;
  background: #f85162;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 26px;
  margin: 0 auto;
  cursor: pointer;
}

/*商户简介*/
.input_textarea {
  width: 100%;
  height: 200px !important;
}

.input_textarea textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*名称*/
.main_left .main_left_x10 {
  margin-top: 40px;
}
