/*导航栏*/
.main_nav{
  width: 100%;
  height: 35px;
  background: #f85162;
  line-height: 35px;
  font-size: 16px;
  color: #fff;
  margin: 35px 0 60px 0;
}

.mian_nav_cont{
  width: 1200px;
  margin: 0 auto;
}
/*内容*/
.main{
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 60px;
}

/*****************************content-start***************************/
/*控制人员增减按钮*/
.control_person_number{
  width: 1200px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 44px;
  margin-bottom: 74px;
}
.p_manage_add{
  display: block;
  border: none;
  outline: none;
  width: 150px;
  height:50px;
  border-radius: 5px;
  background-color: #f85162;
  color: #ffffff;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
}
.p_manage_add:active{
  background-color: #f85162;
  cursor: pointer;
}
/*人员管理*/
/*人员管理title*/
.control_total_person{
  width: 1200px;
  padding-bottom: 55px;
}
.control_total_person_title{
  width: 1200px;
  height: 25px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}
.control_total_person_title div{
  width: 83px;
  font-size: 18px;
  color: #f85162;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.check{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
/*人员管理项*/
.control_total_person_item{
  width: 1200px;
  height: 40px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 12px;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  border-radius: 24px;
  color: #999999;
  font-size: 16px;
}
.control_total_person_item:hover{
  background-color: #f85162;
  color: #ffffff;
  cursor: pointer;
}
.hover{
  background-color: #f85162;
  color: #ffffff;
  cursor: pointer;
}
.ahover{
  color: #ffffff;
  text-decoration:none; 
}
.control_total_person_item div{
  width: 83px;
  font-size: 16px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
.c_check{
  position: relative;
}
.c_check input{
  position: absolute;
  cursor: pointer;
  width: 17px;
  height: 17px;
  left: 10px;
  top: 10px;
}
.control_total_person_item .c_pic{
  width: 36px;
  height: 34px;
  background-color: #666;
  margin:3px auto;
  position:relative;
}
.control_total_person_item .c_pic img{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/*****************************content-end*****************************/